
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --soft-blue: #8BACD9;
  --white : #FFFFFF;
  --cyan : #00FFF8;
  --dark-blue-mainbg: #0D192C;
  --dark-blue-cardbg:#15263F;
  --dark-blue-line:#2E405A;

  /* TYPOGRAPHY */
  --ff: "Outfit",sans-serif;

  /*Mobile*/

  /*Desktop*/
  --heading: 600 1.38rem var(--ff);
  --body: 300 1.13rem/1.63rem;
  --caption: normal 1rem var(--ff);
  --caption-bold: normal 1rem var(--ff);
  
  /*Desktop Active*/
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;
  color: black;
}