
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --soft-blue: #8BACD9;
  --white : #FFFFFF;
  --cyan : #00FFF8;
  --cyan-op: hsla(178, 100%, 50%,0.503);
  --dark-blue-mainbg: #0D192C;
  --dark-blue-cardbg:#15263F;
  --dark-blue-line:#2E405A;

  /* TYPOGRAPHY */
  --ff: "Outfit",sans-serif;

  /*Desktop*/
  --heading: 600 1.38rem var(--ff);
  --body: 300 1.13rem/1.63rem;
  --caption: normal 1rem var(--ff);
  --caption-bold: normal 1rem var(--ff);

  /*Mobile*/
  --caption-mob: normal 1.13rem var(--ff);
  --caption-bold-mob: 600 1rem var(--ff);

  

  /*Shadow*/
  --shadow:--SHADOW: 0px 25px 50px 0px hsla(0, 0%, 0%, 0.0953);

}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  place-content: center;
  display: grid;  
  background-color: var(--dark-blue-mainbg);
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;

}

/* NFT Card*/
.nft-card{
    max-width: 327px;
    min-height: 543px;  
    background-color: var(--dark-blue-cardbg);
    border-radius: 12px;
    box-shadow: var(--shadow);
    padding:1.5rem 1.56rem 1.5rem 1.5rem;
    margin:4rem 1.5rem;   
  
}
/*NFT Image*/
.nft-card-image{
   width: 278px;
   height:278px;
   border-radius: 8px;
   overflow: hidden;
   position: relative;
}
.nft-card-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}


/*Card Content*/
.card-content{
  margin-top:1.5rem;
  display:flex;
  flex-flow:column;
  gap:1rem;
}
.card-info{
  display:flex;
  flex-flow:column;
  gap:0.75rem;
}
.card-title{
  font:var(--heading);
  color:var(--white);
}
.nft-description{
  font: var(--caption-mob);
  color:var(--soft-blue); 
  letter-spacing: 0px;
  line-height: 26px;
  max-width:278px;
 
}
.card-metadata{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.metadata-item-value{
  display:flex;
  align-items:center;
  gap:0.38rem;
  color:var(--cyan);
  font: var(--caption-bold-mob);
}
.metadata-item-time{
  display:flex;
  align-items:center;
  gap:0.5rem;
  color:var(--soft-blue);
  font:var(--caption-mob);
  
}
.line{
  width:100%;
  height:1px;
  background-color: var(--dark-blue-line);
}
.creator{
  display:flex;
  align-items:center;
  gap:1rem;
}
.creator-avatar{
  width:33px;
  height:33px;
  border-radius:50%;
  border:1px solid var(--white);
}
.creator-avatar img{
  width:100%;
  height:100%;
  object-fit:cover;  
}
.creator-description{
  color:var(--soft-blue);
  font:var(--caption-mob); 
}
.creator-description a{
  color:var(--white);
}

/*Tablet*/

@media screen and (min-width:768px) {
  /* ||NFT-Card*/
  .nft-card{
  max-width: 350px;
  min-height:596px;
  padding:1.5rem 1.5rem 2rem 1.5rem;
  margin:9.5rem 34.06rem;
}
/*||NFT-Card-Image*/
.card-image{
  width:302px;
  height:302px;
}
.nft-card-image-overlay{
  width:302px;
  height:302px;
  border-radius:8px;
  background-color:var(--cyan-op);
  position:absolute;
  padding:7.94rem;
}
.card-content{
  gap:0px;
}
.card-info{
  gap:1rem;
  margin-bottom:1.5rem;
}
.nft-description{
  max-width:302px;
}
.card-metadata{
  margin-bottom:1.5rem;
}
.metadata-item-value{
  font:var(--caption-bold);
 
}
.metadata-item-time{
  font: var(--caption);
}
.line{
  margin-bottom:1rem;
}
.creator-description{
  font:var(--caption);
  }
}

/*Desktop*/
@media screen and (min-width:992px){
  .nft-card-image:hover,
  .nft-card-image-overlay,
  .nft-card-image:focus-visible,
  .nft-card-image-overlay{
    display:block;
  }
  .card-title:hover,
  .card-title:focus-visible{
    color:var(--cyan);
  }
  .creator-description a:hover,
  .creator-description a:focus-visible{
    color:var(--cyan);
  }
}  
  
  
  
    

  


